body {
  margin: 20px;
  background: url('http://okfoc.us/okshadow/img/photocopy.png');
  background-position:top center;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #333;
}
#rapper {
  width: 600px;
  margin: 0 auto;
}

#header { padding-bottom: 20px; }
header img {padding-bottom:15px;margin-top:10px;max-width:200px;height:33px;}
h2{text-transform:uppercase;font-size:15px;letter-spacing:6px;margin-bottom:20px;margin-top:-10px;font-style:italic;font-family: Comic Sans MS, cursive;font-weight:100;color:#333;-webkit-transform: rotate(-1deg);-moz-transform: rotate(-1deg); }
pre,code {
  border: 1px solid #ddd;
  background: rgb(238,238,238);
  background: rgba(238,238,238,0.5);
  font-size: 12px;
  line-height: 15px;
  padding: 5px 10px;
  max-width: 550px;
  display: inline-block;
  margin-right: 10px;
  white-space: pre;
  color: #000;
}
pre,code#license {
  width: auto;
  margin: 0;
  padding: 10px;
}
pre,code#methods {
  width: auto;
  padding: 10px;
}
pre a,code a {
  color: #00f;
}

.photos {
	line-height: 0;
	font-size: 0;
}
.photos img {
	height: 32px;
	margin: 0 0 1px 1px;
	display: inline-block;
	cursor: pointer;
}


/* 

@-webkit-keyframes wipe {
 	  0% { background-position: 0px 0px; }
	100% { background-position: -1766px 0px; }
}
@-moz-keyframes wipe {
 	  0% { background-position: 0px 0px; }
	100% { background-position: -1766px 0px; }
}
@keyframes wipe {
 	  0% { background-position: 0px 0px; }
	100% { background-position: -1766px 0px; }
}

body {
	-webkit-animation: wipe 66.0s infinite linear;
	-moz-animation: wipe 66.0s infinite linear;
	animation: wipe 66.0s infinite linear;
}

 */
